* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* debug */
.debug {
    border: 2px solid rgb(9, 172, 9);
}
body {
    background-color: rgb(128, 123, 123);
}
/* /debug */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-size: 28px;
    font-weight: 700;
}

p {
    font-size: 14px;
    font-weight: 500;
}

li{
    list-style: none;
}

.container {
    position: relative;
}

.link-button {
    padding: 4px 18px;
    font-size: 14px;
    font-weight: 500;
}

.link-button-blue {
    background-color: #0061ff;
}

header {
    position: fixed;
    height: 60px;
    background-color: white;
    width: 100%;
    z-index: 10;
}

/* logo */
.logo-box {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 20%; 
    height: 100%;
}

.logo {
    height: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* /logo */

/* header-links */
.header-link-row {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 70%;
    height: 100%;
}

.header-link-box-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 50%;
}

.header-link-box-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 50%;
    text-align: right;
}

.header-link {
    color: black;
    font-size: 14px;
    font-weight: 600;
    padding: 14px;
}

.header-link:hover {
    background-color: #9cd0fa;
    border-radius: 16px;
}
/* /header-links */

/* header-start-button */
.header-button-box {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 10%;
    height: 100%;
}

.header-start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* /header-start-button */

/* section1-hero */
.section1 {
    position: relative;
    top: 60px;
    left: 0;
    background-color: #b4d0e7;
    width: 100%;
}

.section1-display-box {
    padding: 100px 8%;
}

.section1-title-box {
    margin-bottom: 30px;
}

.section1-paragraph-box {
    display: inline-block;
    width: 40%;
}

.section1-paragraph {
    display: inline-block;
    padding-bottom: 20px;
}

.section1-button {
    display: inline-block;
    margin-bottom: 10px;
}

.fa-arrow-down {
    font-size: 24px;
    margin-top: 30px;
}

.section1-img-box {
    position: relative;
    display: inline-block;
    width: 60%;
    vertical-align: top;
    padding-left: 40px;
}

.section1-img {
    position: absolute;
    width: 100%;
}
/* /section1-hero */

/* section2 */
.section2{
    background-color: white;
    min-height: 200px; /*debug*/
    width: 100%;
}

.section2-display-box {
    position: relative;
    padding: 280px 12%;
}

.radio-button {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 60px;
}

 .radio-button-label {
     display: inline-block;
     margin-right: 20px;
     font-size: 14px;
 }

 .section2-column-box {
     border: 2px solid rgb(15, 184, 15); /*debug*/
 }

 .section2-column {
     float: left;
     width: calc(100% / 3 - 10px);
 }
 
 .buy-now-link a {
     color: #0061ff;
     text-decoration: underline;
     font-weight: 600;
 }

