* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* debug */
.debug {
    border: 2px solid rgb(9, 172, 9);
}
/* /debug */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container-padding-12 {
    padding-left: 12%;
    padding-right: 12%;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-size: 28px;
    font-weight: 800;
}

p {
    font-size: 14px;
    font-weight: 500;
}

li{
    list-style: none;
}

.container {
    position: relative;
}

.link-button {
    display: inline-block;
    padding: 4px 18px;
    font-size: 14px;
    font-weight: 500;
}

.link-button-blue {
    background-color: #0061ff;
}

header {
    position: fixed;
    height: 70px;
    background-color: white;
    width: 100%;
    z-index: 10;
    box-shadow: 1px 1px 3px grey;
}

/* logo */
.logo-box {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 20%; 
    height: 100%;
}

.logo {
    height: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* /logo */

/* header-links */
.header-link-row {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 70%;
    height: 100%;
    overflow: auto;
}

.header-link-box-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 50%;
}

.header-link-box-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 50%;
    text-align: right;
}

.header-link {
    color: black;
    font-size: 14px;
    font-weight: 600;
    padding: 14px;
}

.header-link:hover {
    background-color: #9cd0fa;
    border-radius: 16px;
}
/* /header-links */

/* header-start-button */
.header-button-box {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 10%;
    height: 100%;
}

.header-start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* /header-start-button */

/* section1-hero */
.section1 {
    position: relative;
    top: 60px;
    left: 0;
    background-color: #b4d0e7;
    width: 100%;
}

.section1-display-box {
    padding: 100px 8%;
}

.section1-title-box {
    margin-bottom: 30px;
}

.section1-paragraph-box {
    display: inline-block;
    width: 40%;
}

.section1-paragraph {
    display: inline-block;
    padding-bottom: 20px;
}

.section1-button {
    display: inline-block;
    margin-bottom: 10px;
}

.fa-arrow-down {
    font-size: 24px;
    margin-top: 30px;
}

.section1-img-box {
    position: relative;
    display: inline-block;
    width: 60%;
    vertical-align: top;
    padding-left: 60px;
}

.section1-img {
    position: absolute;
    max-width: 100%;
    max-height: 400px;
}
/* /section1-hero */

/* section2 columns*/
.section2{
    background-color: white;
    width: 100%;
}

.section2-display-box {
    position: relative;
    padding-top: 240px;
}

.radio-button {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 40px;
}

.radio-button-label {
    display: inline-block;
    margin-right: 20px;
    font-size: 14px;
}

.section2-column {
    float: left;
    width: calc(100% / 3 - 10px);
    border: 1px solid lightgrey;
    height: 800px;
    overflow: auto;
}

.section2-column-center {
    margin: 0 15px;
}

.column-top {
    font-weight: 600;
    border-bottom: 1px solid lightgrey;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}

.column-main {
    padding: 24px;
    overflow-x: auto;
}

.subscription-type {
    font-size: 24px;
    font-weight: 700;
}

.column-description {
    font-size: 14px;
    margin-top: 18px;
    text-indent: -8px;
    padding-left: 16px;
}

.subscription-price {
    font-size: 16px;
    font-weight: 700;
    margin-top: 14px;
}

.subscription-duration {
    font-size: 14px;
    font-weight: 600;
    color: #717f8c;
    margin-top: 6px;
    margin-bottom: 32px;
}

.column-button-box {
    width: 100%;
    text-align: center;
}

.column-button {
    margin: 30px auto;
    padding-left: 28px;
    padding-right: 28px;
}

.buy-now-link {
    font-size: 14px;
}

.buy-now-link a {
    color: #0061ff;
    text-decoration: underline;
    font-weight: 600;
}

.column-hr {
    width: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 1px;
    background-color: lightgrey;
    border: none;
}

.column-bottom-description-title {
    font-size: 16px;
    font-weight: 700;
    margin-top: 14px;
}

.column-bottom-description {
    font-size: 14px;
    margin-top: 14px;
    font-weight: 500;
    text-indent: -8px;
    padding-left: 16px;
}

.fa-check {
    color: #0061ff;
}
/* /section2 columns*/

/* section3 team */
.section3-team {
    border: 1px solid lightgrey;
    margin-top: 40px;
}

.content-top-row {
    border-bottom: 1px solid lightgrey;
}

.content-main {
    position: relative;
    padding: 24px;
}

.section3-team-main-left {
    display: inline-block;
    width: 65%;
}

.section3-team-button-box {
    display: inline-block;
    width: 35%;
    text-align: center;
    vertical-align: top;
}

.section3-team-button {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 10px;
}

.post-title {
    font-size: 22px;
    font-weight: 700;
}

.post-text {
    font-size: 16px;
    margin-top: 12px;
}

.section3-team-text {
    font-weight: 600;
}

.section3-team-paragraph {
    font-size: 14px;
    margin-top: 12px;
}
/* /section3 team */

/* section4 partner */
.section4-partner {
    height: 400px;
    margin-top: 100px;
}

.section4-partner-img-box {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.section4-partner-img {
    max-width: 100%;
    max-height: 400px;
}

.section4-partner-text-box {
    display: inline-block;
    width: 50%;
    padding-top: 30px;
    padding-left: 30px;
    vertical-align: top;
}

.post-text {
    font-size: 14px;
    margin-top: 30px;
}

.section4-partner-button {
    color: black;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 1px 1px grey;
}
/* /section4 partner */

/* section5 business */
.section5-business {
    margin-top: 60px;
}

.section5-row {
    width: 100%;
    margin-top: 40px;
}

.section5-box {
    width: calc(100% / 3 - 30px);
    float: left;
}

.section5-post-img {
    max-width: 100%;
}

.section5-box-center {
    margin: 0 30px;
}
/* /section5 business */